form {
   margin-top: 30px;
   width: 200px;
}

form label {
   color: #acacac;
   font-size: 16px;
   font-weight: bold;
   padding-bottom: 5px;
   display: block;
   transition: color 0.5s;
}


form button[type=submit] {
   width: 100%;
   border: 0;
   margin-top: 30px;
   background: #7d40e7;
   border-radius: 2px;
   padding: 15px 20px;
   font-size: 16px;
   color: #fff;
   cursor: pointer;
   transition: background 0.5s;
}

form button[type=submit]:hover{
   background: #6931ca;
}